# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [ ]:
#Written Analysis 

#In the analysis below you can see that schools with fewer students tend to do better in their overall Math and Reading scores
#than those with bigger schools (holding more students)

#charter schools tend to perform better than district schools. This is evident from the fact that the the percentage of students passing math, reading, and overall, were higher for charter schools compared to district schools.

In [2]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [3]:
# Calculate the total number of unique schools
num_unique_schools = school_data_complete['School ID'].nunique()
num_unique_schools

15

In [4]:
# Calculate the total number of students
num_students = school_data_complete['Student ID'].count()
num_students

39170

In [5]:
# Calculate the total budget
#Total Budget
total_budget = school_data_complete["budget"].sum()
total_budget_formatted = "${:,.2f}".format(total_budget)
total_budget_formatted

'$82,932,329,558.00'

In [6]:
# Calculate the average (mean) math score
avg_math_score = round(school_data_complete["math_score"].mean(),2)
avg_math_score

78.99

In [7]:
# Calculate the average (mean) reading score
avg_reading_score = round(school_data_complete["reading_score"].mean(), 2)
avg_reading_score

81.88

In [8]:
#Percentage of Students who passed Math
passing_math = school_data_complete["math_score"] >= 70

#Calculate percentage of students who passed Math Class
percent_passing_math = passing_math.mean() * 100
print("Percentage of students who passed math: {:.2f}%".format(percent_passing_math))

Percentage of students who passed math: 74.98%

In [9]:
#Percentage of Students who passed Reading
passing_reading = school_data_complete["reading_score"] >= 70

#Calculate Percentage
percent_passing_reading = passing_reading.mean() * 100
print("Percentage of students who passed reading: {:.2f}%".format(percent_passing_reading))

Percentage of students who passed reading: 85.81%

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [10]:
#Overall Passing 
overall_passing = (passing_math & passing_reading)

#Calcualte Overall Passing
percent_overall_passing = overall_passing.mean() * 100
print("Percentage of students who passed both math and reading: {:.2f}%".format(percent_overall_passing))

Percentage of students who passed both math and reading: 65.17%

In [11]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = {"Total Schools": [num_unique_schools],
    "Total Students": [num_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math_score],
    "Average Reading Score": [avg_reading_score],
    "% Passing Math": [percent_passing_math],
    "% Passing Reading": [percent_passing_reading],
    "% Overall Passing": [percent_overall_passing]}
district_summary = pd.DataFrame(district_summary)

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$82,932,329,558.00",78.99,81.88,74.980853,85.805463,65.172326

## School Summary

In [12]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]

In [20]:
print(school_data_complete.columns)

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [46]:
# Calculate the total student count
per_school_counts = school_data_complete.groupby("school_name")["Student ID"].count()
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [26]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget
per_school_capita = per_school_budget / per_school_counts
per_school_capita

school_name
Bailey High School       79.778606
Cabrera High School      27.606740
Figueroa High School     48.108527
Ford High School         45.032321
Griffin High School      23.423538
Hernandez High School    77.151391
Holden High School        6.333597
Huang High School        48.778019
Johnson High School      79.005617
Pena High School         14.956804
Rodriguez High School    65.033521
Shelton High School      26.974726
Thomas High School       26.630840
Wilson High School       33.688384
Wright High School       26.790911
Name: budget, dtype: float64

In [29]:
# Calculate the average test scores
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [28]:
#Calculate Reading Average
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [30]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = school_data_complete["math_score"] >=70
passing_math_counts = school_data_complete[school_passing_math].groupby("school_name")["math_score"].count()
passing_math_counts

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: math_score, dtype: int64

In [31]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = school_data_complete["reading_score"] >=70
passing_reading_counts = school_data_complete[school_passing_reading].groupby("school_name")["reading_score"].count()
passing_reading_counts

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: reading_score, dtype: int64

In [32]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
passing_math_and_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [50]:
# % passing math (the percentage of students who passed math) per school
per_school_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["Student ID"].count() / per_school_counts * 100
per_school_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64

In [51]:
#% passing reading (the percentage of students who passed reading) per school
grouped_by_school = school_data_complete.groupby('school_name')

# Calculate the number of students passing reading by school
passing_reading_count = grouped_by_school['reading_score'].apply(lambda x: (x >= 70).sum())

# Calculate the percentage of students passing reading by school
passing_reading_percentage = passing_reading_count / per_school_counts * 100
print(passing_reading_percentage)

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [52]:
#% overall passing (the percentage of students who passed math AND reading) per school
passing_math_and_reading = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
per_school_passing_math_and_reading = passing_math_and_reading.groupby("school_name")["student_name"].count() / per_school_counts * 100
per_school_passing_math_and_reading = per_school_passing_math_and_reading.rename("% Overall Passing Rate")
print(per_school_passing_math_and_reading)

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: % Overall Passing Rate, dtype: float64

In [54]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Type": school_types,
    "Total Students": per_school_counts,
    "Budget per Capita": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": passing_reading_percentage,
    "% Overall Passing": per_school_passing_math_and_reading
})
# Display the DataFrame
per_school_summary

,School Type,Total Students,Budget per Capita,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Bailey High School,District,4976,79.778606,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,27.606740,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,48.108527,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,45.032321,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,23.423538,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,77.151391,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,6.333597,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,48.778019,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,79.005617,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,14.956804,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,65.033521,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,26.974726,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,26.630840,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,33.688384,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,26.790911,83.682222,83.955000,93.333333,96.611111,90.333333

## Highest-Performing Schools (by % Overall Passing)

In [61]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(["% Overall Passing"], ascending=False)
top_schools.head()

,School Type,Total Students,Budget per Capita,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Cabrera High School,Charter,1858,27.606740,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,26.630840,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,23.423538,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,33.688384,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,14.956804,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [62]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("% Overall Passing", ascending=True).head()
bottom_schools.head()

,School Type,Total Students,Budget per Capita,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,
Rodriguez High School,District,3999,65.033521,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,48.108527,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,48.778019,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,77.151391,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,79.005617,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

In [64]:
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(["school_name"])["math_score"].mean()
tenth_graders_scores = tenth_graders.groupby(["school_name"])["math_score"].mean()
eleventh_graders_scores = eleventh_graders.groupby(["school_name"])["math_score"].mean()
twelfth_graders_scores = twelfth_graders.groupby(["school_name"])["math_score"].mean()

# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_scores
tenth_grader_math_scores = tenth_graders_scores
eleventh_grader_math_scores = eleventh_graders_scores
twelfth_grader_math_scores = twelfth_graders_scores

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_graders_scores,
    "10th": tenth_graders_scores,
    "11th": eleventh_graders_scores,
    "12th": twelfth_graders_scores
})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [69]:
# Separate the data by grade
ninth_graders = school_data_complete[school_data_complete["grade"] == "9th"]
tenth_graders = school_data_complete[school_data_complete["grade"] == "10th"]
eleventh_graders = school_data_complete[school_data_complete["grade"] == "11th"]
twelfth_graders = school_data_complete[school_data_complete["grade"] == "12th"]

# Group by "school_name" and calculate the mean of math and reading scores for each grade
ninth_grade_math_scores = ninth_graders.groupby("school_name").mean()["math_score"]
tenth_grade_math_scores = tenth_graders.groupby("school_name").mean()["math_score"]
eleventh_grade_math_scores = eleventh_graders.groupby("school_name").mean()["math_score"]
twelfth_grade_math_scores = twelfth_graders.groupby("school_name").mean()["math_score"]

ninth_grade_reading_scores = ninth_graders.groupby("school_name").mean()["reading_score"]
tenth_grade_reading_scores = tenth_graders.groupby("school_name").mean()["reading_score"]
eleventh_grade_reading_scores = eleventh_graders.groupby("school_name").mean()["reading_score"]
twelfth_grade_reading_scores = twelfth_graders.groupby("school_name").mean()["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading_scores,
    "10th": tenth_grade_reading_scores,
    "11th": eleventh_grade_reading_scores,
    "12th": twelfth_grade_reading_scores
})

# Minor data wrangling
reading_scores_by_grade.index.name = None

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grade_math_scores,
    "11th": eleventh_grade_math_scores,
    "12th": twelfth_grade_math_scores
})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrames
print(reading_scores_by_grade)
print(math_scores_by_grade)

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171
                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Scores by School Spending

In [70]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [71]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [72]:
# Use `pd.cut` to categorize spending based on the bins.
per_school_summary["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=labels)

In [76]:
#  Calculate averages for the desired columns. 
spending_math_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = per_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = per_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = per_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [77]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,80.43253,82.529188,80.987054,89.219023,73.27756
$585-630,NaN,NaN,NaN,NaN,NaN
$630-645,NaN,NaN,NaN,NaN,NaN
$645-680,NaN,NaN,NaN,NaN,NaN

## Scores by School Size

In [78]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [79]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=labels)
per_school_summary

,School Type,Total Students,Budget per Capita,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,79.778606,77.048432,81.033963,66.680064,81.933280,54.642283,<$585,Large (2000-5000)
Cabrera High School,Charter,1858,27.606740,83.061895,83.975780,94.133477,97.039828,91.334769,<$585,Medium (1000-2000)
Figueroa High School,District,2949,48.108527,76.711767,81.158020,65.988471,80.739234,53.204476,<$585,Large (2000-5000)
Ford High School,District,2739,45.032321,77.102592,80.746258,68.309602,79.299014,54.289887,<$585,Large (2000-5000)
Griffin High School,Charter,1468,23.423538,83.351499,83.816757,93.392371,97.138965,90.599455,<$585,Medium (1000-2000)
Hernandez High School,District,4635,77.151391,77.289752,80.934412,66.752967,80.862999,53.527508,<$585,Large (2000-5000)
Holden High School,Charter,427,6.333597,83.803279,83.814988,92.505855,96.252927,89.227166,<$585,Small (<1000)
Huang High School,District,2917,48.778019,76.629414,81.182722,65.683922,81.316421,53.513884,<$585,Large (2000-5000)
Johnson High School,District,4761,79.005617,77.072464,80.966394,66.057551,81.222432,53.539172,<$585,Large (2000-5000)
Pena High School,Charter,962,14.956804,83.839917,84.044699,94.594595,95.945946,90.540541,<$585,Small (<1000)
Rodriguez High School,District,3999,65.033521,76.842711,80.744686,66.366592,80.220055,52.988247,<$585,Large (2000-5000)
Shelton High School,Charter,1761,26.974726,83.359455,83.725724,93.867121,95.854628,89.892107,<$585,Medium (1000-2000)
Thomas High School,Charter,1635,26.630840,83.418349,83.848930,93.272171,97.308869,90.948012,<$585,Medium (1000-2000)
Wilson High School,Charter,2283,33.688384,83.274201,83.989488,93.867718,96.539641,90.582567,<$585,Large (2000-5000)
Wright High School,Charter,1800,26.790911,83.682222,83.955000,93.333333,96.611111,90.333333,<$585,Medium (1000-2000)

In [80]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

In [81]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

In [93]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = per_school_summary.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = per_school_summary.groupby(["School Type"]).mean()["% Overall Passing"]

# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing"]

KeyError: 'Average Math Score'

In [90]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Average Math Score": type_math_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Math": type_passing_math,
    "% Passing Reading": type_passing_reading,
    "% Overall Passing": type_overall_passing})

# Display results
type_summary

NameError: name 'type_math_scores' is not defined